@{
  Layout = "_Layout";
}
@model BestRestaurant.Models.Restaurant;

<h3>Add new Restaurant</h3>

@using (Html.BeginForm())
{
  <div class ="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new{ @class = "form-control"})
  
  @Html.LabelFor(model => model.Location)
  @Html.TextBoxFor(model => model.Location, new{ @class = "form-control"})

  @Html.LabelFor(model => model.Rating)
  @Html.TextBoxFor(model => model.Rating, new{ @class = "form-control"})

  @Html.LabelFor(model => model.PhoneNumber)
  @Html.TextBoxFor(model => model.PhoneNumber, new{ @class = "form-control"})

  @Html.LabelFor(model => model.Cuisine)
  @Html.DropDownList("CuisineId")
  </div>
  <input type="submit" value="Add new restaurant" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all restaurants", "Index")</p>


